<% include ../partial/header %>
    
<div class="row">
    <h1 style="text-align: center;">Creat new Comment</h1>
    <div style="width: 50%; max-width: 400px; margin: 30px auto;">
        <form action="/posts/<%= campground._id%>/comments" method="POST">
            <div class="form-group">
                <textarea placeholder="Comment" class="form-control" rows="3" type="text" name="comment[text]" required></textarea>
            </div>
            <input class=" btn btn-primary btn-block" type="submit" value="Submit">
          
        </form>
        <a href="/campgrounds/<%= campground._id%>">Back to View</a>
    </div>
    
</div>

<% include ../partial/footer %>