<% include ./partial/header %>
<h1>User profile</h1>
<div id="avatar"></div>
<!--<img height="32" width="32" src="https://images.unsplash.com/photo-1507124484497-b7f446e65519?auto=format&fit=crop&w=658&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Braden Hamm">-->
  

<% include ./partial/footer %>